<html>

	<head>

		<title>
			MongoDB Frontend
		</title>

	</head>

	<body>

		<br>

		<center>

			<table>

				<tr>
					
					<td style="text-align: right">
						Change IP:
					</td>

					<td>

						<form action="/changeIP" style="margin-top: 15px">
							<input type="number" name="ip1" min="0" max="255">.
							<input type="number" name="ip2" min="0" max="255">.
							<input type="number" name="ip3" min="0" max="255">.
							<input type="number" name="ip4" min="0" max="255">
							<input type="submit">
						</form>

					</td>

				</tr>

				<tr>

					<td style="text-align: right">
						Search:
					</td>

					<td>

						<form action="/search" method="POST" style="margin-top: 15px">
                            <select name="type">
                                <option value="year">Year</option>
                                <option value="category">Category</option>
                                <option value="num">Num Lauretes</option>
                            </select>
							<input name="argument" type=text>
                        <input type="submit">
                        </form>

					</td>

				</tr>

			</table>

		</center>

	</body>

</html>